# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Hidden files with ._
._*

# OSX shart
.DS_Store
annots/HCC_annot/GSE151530_matrix.mtx.gz
annots/PDAC_annot/Exp_data_UMIcounts.mtx
HCC/molecule_info.h5
hcc_data.rds
PanIN/cloupe.cloupe
PanIN/molecule_info.h5
PanIN_data.rds
PDAC_data.rds
